<div class="card" style="width: 18rem">
    <!-- <img src="<%=Products [x].imageUrl%>" class="cardImage card-img-top" alt="<%=Products.imageUrl%>" /> -->
    <img src="<%=imageUrl%>" class="cardImage card-img-top" alt="<%=Products.imageUrl%>" />

    <div class="card-body">
        <p class="card-text">
            <!-- <%=Products[x].title%> -->
            <%=title%>

        </p>
    </div>
    <div class="card-body">
        <p class="card-text">$
            <%=Products[x].price%>
        </p>
    </div>
    <div class="card-body">
        <p class="card-text">
            <!-- <%=Products[x].description %> -->
            <%=description%>

        </p>
    </div>

    <div class=" custom-card-body">
        <a href="/products/<%=Products[x].id%>" class="btn"> View Details </a>
        <form action="/cart" method="POST">

            <input id="price" type="hidden" value="<%=Products[x].price%>" name="id">


            <button type="submit" class="btn">Add to cart</button>
        </form>
    </div>